<ion-view view-title="Главный экран">
    <ion-content class="padding">
        <div class="action-news" ng-click="goToActionDetails()">
            <img src="img/action.jpg" alt="" class="action-img">
            <div class="action-news-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, maiores. Obcaecati recusandae, vel laborum in non suscipit natus ratione facere, iusto, ab repudiandae harum optio maxime enim provident consectetur inventore.
            </div>
        </div>
        <div class="action-news">
            <img src="img/action.jpg" alt="" class="action-img">
            <div class="action-news-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, maiores. Obcaecati recusandae, vel laborum in non suscipit natus ratione facere, iusto, ab repudiandae harum optio maxime enim provident consectetur inventore.
            </div>
        </div>
        <div class="action-news">
            <img src="img/action.jpg" alt="" class="action-img">
            <div class="action-news-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, maiores. Obcaecati recusandae, vel laborum in non suscipit natus ratione facere, iusto, ab repudiandae harum optio maxime enim provident consectetur inventore.
            </div>
        </div>
    </ion-content>
</ion-view>
