<ion-view view-title="Подробности акции">
    <ion-content>
        <div class="wrapper-action-details">
            <div class="card">
                <div class="item item-divider">
                    Акция на натяжные потолки с фотопечатью
                </div>
                <div class="item item-text-wrap">
                    <p>Хочется сделать дизайн своего интерьера ярким и неповторимым? Не отказывайте себе в этом!</p>
                    <br>
                    <p>Натяжные потолки с фотопечатью от нашей компании помогут украсить дом или офис, создать неповторимую атмосферу и настроение! И сегодня вы можете приобрести эксклюзивный потолок по акционной цене — всего от 650 руб./м². Акция распространяется на печать на глянцевых полотнах тех изображений, которые вы видите ниже.</p>
                </div>
            </div>
        </div>
        <!-- End wrapper-action-details  -->
    </ion-content>
</ion-view>
