<ion-view view-title="Подробности акции">
    <ion-content>
        <div class="wrapper-action-details">
            <div class="card" ng-repeat="action in actionDetails">
                <div class="item item-divider">
                    {{action.actionName}}
                </div>
                <div class="item item-text-wrap">
                    <p>{{action.actionContent}}</p>
                </div>
            </div>
        </div>
        <!-- End wrapper-action-details  -->
    </ion-content>
</ion-view>
