<ion-view view-title="Авторизация">
    <ion-content class="padding">
        <form ng-submit="">
            <div class="wrapper-info-block card">
                <div class="row">
                    <div class="col col-66">
                        <h5>Войдите под свои аккаунтом</h5>
                        <p>Авторизуйтесь для получения доступа к управлению своими заказами</p>
                        <a href="http://astam.ru" style="text-decoration:none;">Детали на сайте astam.ru</a>
                    </div>
                    <div class="col logo-img">
                        <img src="img/ionic.png" alt="" width="100">
                    </div>
                </div>
            </div>
            <!-- End wrapper info block -->
            <div class="wrapper-auth-input">
                <!-- <label class="item item-input">
                    <span class="input-label ">Телефон</span>
                    <ion-md-input type="text"  class="active-input"></ion-md-input>
                </label> -->
                <ion-md-input type="tel" label="Номер телефон" placeholder="+7(999)111-22-33" maxlength="12"></ion-md-input>
            </div>
            <!-- End wrapper auth input -->
            <button class="button button-block button-positive" type="submit">Войти</button>
            <!-- <hr> -->
            <div class="row">
                <div class="col">
                    <button class="button button-outline button-block button-royal" ng-click="goToRegisterDealer()">Стать дилером</button>
                </div>
                <div class="col">
                    <button class="button button-outline button-block button-balanced" ng-click="goToClientOrder()">Заказать потолок</button>
                </div>
            </div>
        </form>
        <!-- End form -->
    </ion-content>
</ion-view>
