<ion-view view-title="Главный экран">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="catalogs">
                    <img src="img/action.jpg" alt="" class="catalogs-img">
                    <div class="catalogs-name">
                    	Каталог полотен
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="catalogs">
                    <img src="img/action.jpg" alt="" class="catalogs-img">
                    <div class="catalogs-name">
                    	Каталог арт-печати
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="catalogs">
                    <img src="img/action.jpg" alt="" class="catalogs-img">
                    <div class="catalogs-name">
                    	Каталог 3-Д панелей
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="catalogs">
                    <img src="img/action.jpg" alt="" class="catalogs-img">
                    <div class="catalogs-name">
                    	Каталог по декору
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
