<ion-view view-title="Заказ замера потолка">
    <ion-content class="padding">
        <form action="">
            <div class="list">
                <h4 class="text-center">Контактная информация</h4>
                <div class="wrapper-contact card">
                    <label class="item item-input">
                        <span class="input-label">Имя*</span>
                        <input type="text" class="active-input">
                    </label>
                    <label class="item item-input">
                        <span class="input-label" class="active-input">Фамилия</span>
                        <input type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label" class="active-input">Телефон*</span>
                        <input type="tel">
                    </label>
                    <label class="item item-input">
                        <span class="input-label" class="active-input">Адрес</span>
                        <input type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Желаемый день замера</span>
                        <input type="tel" ng-click="openDatePicker()" ng-model="inputDate">
                    </label>
                </div>
                <div class="wrapper-reg-comment card">
                    <div class="row">
                        <div class="col">
                            <textarea name="regComment" row="15" class="order-comment" ng-model="comment" placeholder="Ваш комментарий"></textarea>
                        </div>
                    </div>
                </div>
                <button class="button button-block button-positive" type="submit">Отправить</button>
            </div>
        </form>
    </ion-content>
</ion-view>
