<ion-view view-title="Details of Orders">
    <ion-content class="padding">
        <div class="card" ng-repeat="history in historyOrders">
            <div class="row">
                <div class="col col-30">№ {{history.OrderNumber}}</div>
                <div class="col text-center">Дата: {{history.OrderDate}}</div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <i class="ion-record"></i> {{history.OrderStatus}}
                    <br>
                    <span>Полотоно: Китайский глянец</span>
                    <br>
                    <span>Система крипления: гарпун</span>
                    <br>
                    <span>Кол-во углов: 4 шт.</span>
                </div>
                <div class="col col-50 text-center">
                    <img src="img/ionic.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Полотоно: Китайский глянец
            </div>
        </div>
        <div class="row">
            <div class="col">
                Полотоно: Китайский глянец
            </div>
        </div>
        <div class="row">
            <div class="col">
                Полотоно: Китайский глянец
            </div>
        </div>
        <div class="row">
            <div class="col">
                Полотоно: Китайский глянец
            </div>
        </div>
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum dolor dignissimos aspernatur ipsam fugiat a explicabo quas voluptatibus voluptatem expedita quidem dolorum iusto, nesciunt ducimus! Ducimus laborum excepturi explicabo. Veniam.
            </div>
        </div>
    </ion-content>
</ion-view>
