<ion-view hide-nav-bar="true">
    <ion-content class="padding" has-bouncing="false" ng-init="initial()">
        <div class="wrapper-info-block card">
            <div class="row">
                <div class="col col-66">
                    <h5>Войдите под свои аккаунтом</h5>
                    <p>Авторизуйтесь для получения доступа к управлению своими заказами</p>
                    <a href="http://astam.ru" style="text-decoration:none;">Детали на сайте astam.ru</a>
                </div>
                <div class="col logo-img">
                    <img src="img/ionic.png" alt="" width="100">
                </div>
            </div>
        </div>
        <!-- End wrapper info block -->
    </ion-content>
</ion-view>
