<ion-view view-title="Главный экран">
    <ion-content class="padding">
       <ion-item ng-repeat="last in lastOrders" href="#{{ROUTES.MAIN}}{{ROUTES.DETAILSOFORDER}}" class="my-orders-tabs-item" ng-class="isLast($last)">
            <i class="ion-chevron-right right-chevron"></i>
            <div class="row">
                <div class="col col-50" style="font-weight: bold">№ {{last.OrderNumber}}</div>
                <div class="col col-50">Дата: {{last.OrderDate}}</div>
            </div>
            <div class="row">
                <div class="col"><i class="ion-record"></i> {{last.OrderStatus}}</div>
                <div class="col">{{last.OrderTitle}}</div>
            </div>
        </ion-item>
        <!-- End order item -->
    </ion-content>
    <div class="all-orders-bottom padding">
        <button class="button button-block button-positive all-orders" ng-click="goToAllOrders()">
            Все заказы
        </button>
    </div>
    <div class="fixed-outside-plus">
        <div class="row">
            <div class="col">
                <button class="button button-circle icon ion-plus-round"></button>
            </div>
        </div>
    </div>
    <!-- End fixed-outside-plus" -->
</ion-view>
