<ion-view view-title="Личный кабинет">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>Иванов Иван</h2>
                <p>Октябрь 05, 1955</p>
            </div>
            <div class="item item-body">
                <span>
                    Ф. : Иванов
                </span>
                <br>
                <span>
                    И. : Иван
                </span>
                <br>
                <span>
                    О. : Иванович
                </span>
                <br>
                <span>
                    № Паспорта : 46 08 111111
                </span>
                <br>
                <span>
                    Паспорт выдан: ТП В МКР. УХТОМСКОГО ОУФМС РОССИИ ПО МОСКОВСКОЙ ОБЛ. В ЛЮБЕРЕЦКОМ Р-НЕ
                </span>
                <br>
            </div>
        </div>
    </ion-content>
</ion-view>
