<ion-view view-title="Заказ по фото">
    <ion-content>
        <div class="photo-wrapper">
            <div class="row responsive-md">
                <div class="col">
                    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" class="center-photo">
                </div>
            </div>
            <div class="row responsive-md">
                <div class="col">
                    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300" class="center-photo">
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <div class="row">
                <div class="col">
                    <button class="button button-block button-positive" ng-click="takePicture()">Сделать снимок</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <button class="button icon-left ion-plus button-block button-positive photo-btn" ng-click="openModalAddParam()">Дополнить</button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-positive photo-btn">Оформить заказ</button>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
