<ion-view view-title="Главный экран">
    <ion-tabs class="tabs-top tabs-background-royal tabs-color-energized">
        <ion-tab class="tabs-color" title="Мои заказы" ui-sref="app.tabs.my_orders_tabs">
            <ion-nav-view name="my_orders_tabs"></ion-nav-view>
        </ion-tab>
        <ion-tab class="tabs-color" title="Акции" ui-sref="app.tabs.actions_tabs">
            <ion-nav-view name="action_tabs"></ion-nav-view>
        </ion-tab>
        <ion-tab class="tabs-color" title="Каталоги" ui-sref="app.tabs.catalogs_tabs">
            <ion-nav-view name="catalogs_tabs"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
    <ion-content>
    </ion-content>
</ion-view>
