<ion-view view-title="Подробности акции">
    <ion-content has-bouncing="false" ng-init="actionDetails()">
        <div class="wrapper-action-details">
            <div class="card">
                <div class="item item-divider">
                    {{actionDetails.name}}
                </div>
                <div class="item item-text-wrap">
                    <p>{{actionDetails.full_description}}</p>
                </div>
            </div>
        </div>
        <!-- End wrapper-action-details  -->
    </ion-content>
</ion-view>
