<ion-view view-title="Авторизация">
    <ion-content class="padding" has-bouncing="false">
        <form ng-submit="">
            <div class="wrapper-info-block card">
                <div class="row">
                    <div class="col col-66">
                        <h5>Войдите под свои аккаунтом</h5>
                        <p>Авторизуйтесь для получения доступа к управлению своими заказами</p>
                        <a href="http://astam.ru" style="text-decoration:none;">Детали на сайте astam.ru</a>
                    </div>
                    <div class="col logo-img">
                        <img src="img/ionic.png" alt="" width="100">
                    </div>
                </div>
            </div>
            <!-- End wrapper info block -->
            <div class="wrapper-auth-input">
                <ion-md-input type="tel" label="Номер телефон" ng-model="authorization.phoneNumber" placeholder="+7(999)111-22-33" maxlength="12"></ion-md-input>
                <ion-md-input type="tel" label="Код подтверждения" ng-model="authorization.code" placeholder="XXXX" maxlength="4"></ion-md-input>
            </div>
            <!-- End wrapper auth input -->
            <!-- <button class="button button-block button-positive" ng-click="takeSmsCode()">Получить код смс</button> -->
            <button class="button button-block button-positive" ng-click="sendSmsCode()">Авторизироваться</button>
            <div class="row">
                <div class="col">
                    <button class="button button-outline button-block button-royal" ng-click="goToRegisterDealer()">Стать дилером</button>
                </div>
                <!-- End register dealer button -->
                <div class="col">
                    <button class="button button-outline button-block button-balanced" ng-click="goToClientOrder()">Заказать потолок</button>
                </div>
                <!-- End client order button -->
            </div>
        </form>
        <!-- End form -->
    </ion-content>
</ion-view>
