<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <div class="title">Добавление записи</div>
        <i class="ion-close modal-close" ng-click="closeModalNotes()"></i>
    </ion-header-bar>
    <ion-content class="padding" has-bouncing="false">
        <form ng-submit="AddItem(newItem)">
            <div class="list">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" ng-click="openDatePicker()" placeholder="Дата" ng-model="newItem.inputDate">
                    </label>
                </div>
                <!-- End date picker -->
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Ваша запись" ng-model="newItem.note">
                    </label>
                </div>
                <!-- End add field note -->
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Адрес" ng-model="newItem.adress">
                    </label>
                </div>
                <!-- End add adress client -->
                <button class="button button-outline button-block button-positive" type="submit">
                    Добавить заметку
                </button>
                <!-- End add note button -->
            </div>
        </form>
    </ion-content>
</ion-modal-view>
