<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <div class="title">Добавление стороны</div>
        <i class="ion-close modal-close" ng-click="closeModalSide()"></i>
    </ion-header-bar>
    <ion-content class="padding">
        <form ng-submit="AddItem(newItem)">
            <div class="list">
                <div class="wrapper-reg-comment card">
                    <div class="row test-row">
                        <div class="col">
                            <textarea name="regComment" row="15" class="order-comment" ng-model="order.commentSide" placeholder="Стороны по часовой стрелке, см:"></textarea>
                        </div>
                    </div>
                </div>
                <button class="button button-block button-positive" type="submit">
                    Добавить стороны
                </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
