<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <div class="title">Редактирование записи</div>
        <i class="ion-close modal-close" ng-click="closeModalEditNotes()"></i>
    </ion-header-bar>
    <ion-content class="padding" has-bouncing="false">
        <form ng-submit="EditItem(editItem)">
            <div class="list">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" ng-model="editItem.note">
                    </label>
                </div>
                <!-- End edit note -->
                <button class="button button-outline button-block button-positive" type="submit">
                    Редактировать заметку
                </button>
                <!-- End edit button -->
            </div>
        </form>
        <!-- End form -->
    </ion-content>
</ion-modal-view>
