<ion-view view-title="Заказ на замера потолка">
    <ion-content class="padding" has-bouncing="false">
        <form action="">
            <div class="list">
                <h4 class="text-center">Контактная информация</h4>
                <div class="wrapper-contact card">
                    <div class="row">
                        <div class="col">
                            <ion-md-input type="tel" label="Имя*" placeholder="Имя*" ng-model="clientOrder.name"></ion-md-input>
                        </div>
                        <div class="col">
                            <ion-md-input type="tel" label="Фамилия" placeholder="Фамилия" ng-model="clientOrder.surName"></ion-md-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ion-md-input type="tel" label="Телефон*" placeholder="Телефон*" ng-model="clientOrder.phoneNumber"></ion-md-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ion-md-input type="tel" label="Адрес" placeholder="Адрес" ng-model="clientOrder.address"></ion-md-input>
                        </div>
                    </div>
                    <label class="item item-input item-floating-label">
                        <span class="input-label client-day">Желаемый день замера</span>
                        <input type="tel" ng-click="openDatePicker()" ng-model="inputDate" placeholder="Желаемый день замера">
                    </label>
                </div>
                <!-- End wrapper contact -->
                <div class="wrapper-client-comment card">
                    <div class="hello row">
                        <div class="col">
                            <textarea name="regComment" row="15" class="order-comment" ng-model="clientOrder.comment" placeholder="Ваш комментарий"></textarea>
                        </div>
                    </div>
                </div>
                <!-- End wrapper registration comment -->
                <button class="button button-block button-positive" type="submit">Отправить</button>
            </div>
            <!-- End list -->
        </form>
        <!-- End form -->
    </ion-content>
</ion-view>
