<ion-view view-title="Мои заказы">
    <ion-content class="padding" has-bouncing="false">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>
        <!-- End search input -->
        <div class="row my-orders-select-box">
            <div class="col">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Статус заказа:
                    </div>
                    <select>
                        <option>Выдан</option>
                        <option>В обработке</option>
                        <option>Отменен</option>
                    </select>
                </label>
            </div>
            <div class="col">
                <label class="item item-input">
                    <input type="text" ng-click="openDatePicker()" ng-model="inputDate" placeholder="Фильтр по дате">
                </label>
            </div>
        </div>
        <!-- End select box -->
        <hr style="width: 98%">
        <!-- End hr -->
        <ion-item ng-repeat="history in historyOrders" href="#{{ROUTES.MAIN}}{{ROUTES.DETAILSOFORDER}}" class="my-orders-tabs-item">
            <i class="ion-chevron-right right-chevron"></i>
            <div class="row">
                <div class="col col-50" style="font-weight: bold">№ {{history.OrderNumber}}</div>
                <div class="col col-50">Дата: {{history.OrderDate}}</div>
            </div>
            <div class="row">
                <div class="col"><i class="ion-record"></i> {{history.OrderStatus}}</div>
                <div class="col">{{history.OrderTitle}}</div>
            </div>
        </ion-item>
        <!-- End order item -->
    </ion-content>
</ion-view>
