.logo-img{
	margin-top: 10px;
}

.wrapper-info-block{
	margin-top: 100px;
}

.wrapper-auth-input{
    margin-top: 65px;
}

.client-day{
  color: #6090e2;
}

.input-label{
  color: #6090e2 !important;
  border: none !important;
}

.item-md-label{
  border: none;
}