.logo-img{
	margin-top: 10px;
}

.wrapper-auth-input{
    margin-top: 30%;
}

.active-input:focus{
	border-bottom: 1px solid green;
}

/*.item-checkbox {
    font-size: 11px;
}

.delear-reg.checkbox input, .checkbox-icon{
	position: relative;
	left: 0px !important;
}*/